/* You can add global styles to this file, and also import other style files */

body {
  background-image: url("assets/images/Business_cov.jpg");
  background-clip: padding-box;
  background-blend-mode: inherit;
  opacity: 95%;
}
