<div id="home" class="header-content">

  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="text-container">

                  <p class="p-heading p-large">"Go-Dex Group" is a top consultancy company specializing in business growth using online marketing and conversion optimization tactics</p>
                  <a class="btn-solid-lg page-scroll col md-2" href="#intro">DISCOVER</a>

              </div>
          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of header-content -->

